<div class="jumbotron">
  <div class="container">
    <h2>Welcome {{ controllers.application.firstName }} !</h2>
    <p>You can an Exam Now</p>
    <p><a {{action 'showModal' 'newexam-modal'}} class="btn btn-primary" role="button">New Exam »</a></p>
  </div>
</div>
<div class="container">
  {{outlet}}

    <table class="table table-striped">
    <thead>
      <tr>
        <th>Exam ID</th>
        <th>Total Question</th>
        <th>Right Answers</th>
        <th>Passing %</th>
        <th>Exam Result %</th>
        <th>Exam Result</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
     {{#each}}
      <tr>
        <td>{{name}}</td>
        <td>{{numberOfQuestions}}</td>
        <td>{{rightAnswers}}</td>
        <td>{{passingPercentage}}%</td>
        <td>{{resultPercentage}}%</td>
        <td>{{result}}</td>
        <th>{{#link-to 'exam' name class="btn btn-primary btn-xs"}}view results »{{/link-to}}</th>
      </tr>
    {{/each}}   
    {{#if isLoading}}
      <tr>
        <td>Loading <img src="assets/images/ajaxloadingblack.gif"></td>
        <td>Loading <img src="assets/images/ajaxloadingblack.gif"></td>
        <td>Loading <img src="assets/images/ajaxloadingblack.gif"></td>
        <td>Loading <img src="assets/images/ajaxloadingblack.gif"></td>
        <td>Loading <img src="assets/images/ajaxloadingblack.gif"></td>
        <td>Loading <img src="assets/images/ajaxloadingblack.gif"></td>
        <td>Loading <img src="assets/images/ajaxloadingblack.gif"></td>
      </tr>
    {{/if}}
    </tbody>  
   </table>
</div>