<div class="jumbotron">
  <div class="container">
    <h2>Welcome {{ controllers.application.firstName }} !</h2>
    <p>You can an Exam Now</p>
    <p><a {{action 'showModal' 'newexam-modal'}} class="btn btn-primary" role="button">New Exam »</a></p>
  </div>
</div>
<div class="container">
  {{outlet}}
  <h4>Exams in progress</h4>
  <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Exam ID</th>
        <th>Total Question</th>
        <th>Right Answers</th>
        <th>Passing %</th>
        <th>Exam Result %</th>
        <th>Exam Result</th>
        <th>Time Left</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
     {{#each}}
     {{#unless isCompleted}}
      <tr>
        <td>{{name}}</td>
        <td>{{numberOfQuestions}}</td>
        <td>NA</td>
        <td>{{passingPercentage}}%</td>
        <td>NA%</td>
        <td>NA</td>
        <td>{{timeLeft}}</td>
        <td>
          {{#link-to 'exam' this class="btn btn-success btn-xs"}}Resume{{/link-to}}
        </td>
        <td>
        <a {{action "deleteExam" name}} type="submit" class="btn btn-danger btn-xs" role="button"> 
        delete {{#if isDeleting}}
        deleting <img src="assets/images/ajaxloadinggreen.gif">{{/if}}
        </a>   
        </td>
      </tr>
    {{/unless}}
    {{/each}}   
    {{#if isLoading}}
      <tr>
        <td>Loading <img src="assets/images/ajaxloadingblack.gif"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {{/if}}
    </tbody>  
   </table>
  </div>
  <h4>Completed Exams</h4>
  <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Exam ID</th>
        <th>Total Question</th>
        <th>Right Answers</th>
        <th>Passing %</th>
        <th>Exam Result %</th>
        <th>Exam Result</th>
        <th>Time Left</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
     {{#each}}
     {{#if isCompleted}}
      <tr>
        <td>{{name}}</td>
        <td>{{numberOfQuestions}}</td>
        <td>{{rightAnswers}}</td>
        <td>{{passingPercentage}}%</td>
        <td>{{resultPercentage}}%</td>
        <td>{{result}}</td>
        <td>Finished</td>
        <td>
          {{#link-to 'exam' this class="btn btn-primary btn-xs"}}View Results{{/link-to}}
        </td>
        <td>
        <a {{action "deleteExam" name}} type="submit" class="btn btn-danger btn-xs" role="button"> 
        delete {{#if isDeleting}}
        deleting <img src="assets/images/ajaxloadinggreen.gif">{{/if}}
        </a>   
        </td>
      </tr>
    {{/if}}  
    {{/each}}   
    {{#if isLoading}}
      <tr>
        <td>Loading <img src="assets/images/ajaxloadingblack.gif"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {{/if}}
    </tbody>  
   </table>
  </div>
</div>