<div class="jumbotron jumbotron-small">
  <div class="container">
    	{{#link-to 'account' classNames='btn btn-primary' tagName='button' }}Back to exams{{/link-to}}
    	{{#link-to 'account' classNames='btn btn-primary pull-right' tagName='button' }}To question view{{/link-to}}
  </div>
</div>

<div class="container">

	<div class="table-responsive">
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th class="col-md-6">Question</th>
		        <th class="col-md-2">Answers</th>
		        <th class="col-md-2">Solution</th>
		        <th class="col-md-2">Result</th>
		        <th class="col-md-2"></th>
		      </tr>
		    </thead>
		    <tbody>
		     {{#each question in questions}}
		      <tr>
		        <td>{{question.question}}</td>
		        <td>{{question.chosenAnswers}}</td>
		        <td>{{question.solutions}}</td>
		        <td>{{question.result}}</td>
		        <td><a {{action "viewQuestion" question.id}} class="btn btn-primary btn-xs" role="button">View Question</a></td>
		      </tr>
		    {{/each}}
		    {{#if isLoading}}
		      <tr>
		        <td>Loading <img src="assets/images/ajaxloadingblack.gif"></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		      </tr>
		    {{/if}}
		    </tbody>
	    </table>
    </div>
</div>