<div class="jumbotron">
  <div class="container">
    <h2>Register!</h2>
    <p>please provide your email</p>
    <form class="form-horizontal col-md-6" role="form">
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Email</label>
        <div class="col-md-8">
          <div class="input-group">
            <div class="input-group-addon">@</div>
            {{input id='useremail' placeholder='Enter Email' class='form-control' value=useremail}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Password</label>
        <div class="col-md-8">
          {{input id='registerpassword' type='password' placeholder='Password' class='form-control' value=registerpassword}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">First Name</label>
        <div class="col-md-8">
          {{input id='firstName' placeholder='First Name' class='form-control' value=firstName}}
        </div>
      </div>
      <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Second Name</label>
        <div class="col-md-8">
          {{input id='secondName' placeholder='Second Name' class='form-control' value=secondName}}
        </div>
      </div>
      <p><a {{action "register"}} type="submit" class="btn btn-primary btn-lg" role="button">Register</a></p>
    </form>
    <p><a {{action "test"}} class="btn btn-primary btn-lg" role="button">Test</a></p>
  </div>
</div>
<div class="container">
</div>